pipeline/PL_calculation_monthly.json
{
	"name": "PL_calculation_monthly",
	"properties": {
		"activities": [
			{
				"name": "Start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Start_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMonthsArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMonthsArray').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "share_financial_stat_table",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "share_financial_stat_table",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"start_date": {
										"value": "@item().start_date",
										"type": "Expression"
									},
									"end_date": {
										"value": "@item().end_date",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SetLatestProcessedEndDateInForEach",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "account_group_fin_stat_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LatestProcessedEndDate",
								"value": {
									"value": "@item().end_date",
									"type": "Expression"
								}
							}
						},
						{
							"name": "account_group_fin_stat_table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "share_financial_stat_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "account_group_fin_stat_table",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "updatewatermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SetLatestProcessedEndDateInForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzurePostgreSql1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO ch_fss.watermark_table (process_name, last_processed_date, updated_date, updated_by)\nVALUES (\n    'TransactionProcessing',\n    TO_TIMESTAMP('@{variables('LatestProcessedEndDate')}', 'YYYY-MM-DD') + INTERVAL '1 day',\n    NOW(),\n    'Admin'\n);",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "End_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "End_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupMonthsArray",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "WITH params AS (\n  SELECT\n    date_trunc('month', last_processed_date)::date AS start_date,\n    date_trunc('month', CURRENT_DATE)::date AS current_month_start,\n    CURRENT_DATE AS today\n  FROM ch_fss.watermark_table\n  WHERE process_name = 'TransactionProcessing'\n  order by created_date desc\n  LIMIT 1\n)\nSELECT\n  generate_series::date AS start_date,\n  LEAST(\n    (generate_series::date + INTERVAL '1 month')::date,\n    today\n  ) AS end_date\nFROM params,\nLATERAL generate_series(\n  start_date,\n  current_month_start,\n  interval '1 month'\n)\nORDER BY start_date;",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"Start_time": {
				"type": "String"
			},
			"End_time": {
				"type": "String"
			},
			"LatestProcessedEndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "batch_wise_cal"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}