pipeline/PL_TRANSACTION_MULTIFILE.json
{
	"name": "PL_TRANSACTION_MULTIFILE",
	"properties": {
		"activities": [
			{
				"name": "loop data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get files data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get files data').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(substring(item().name, 5, length('PWC_Trans_comment')), 'PWC_Trans_comment')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute Pipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_TRANSACTION_DATA",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline2",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_COMMENTS",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "job_run_status",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "loop data",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "end_time",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "insert into ch_fss.job_run_status\n(pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time,status,error_message)\nvalues (\n  '@{pipeline().Pipeline}',\n  '@{pipeline().RunId}',\n  '@{formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')}',\n  '@{pipeline().TriggerType}',\n  '@{variables('end_time')}',\n  '@{variables('start_time')}',\n  '@activity('Execute Pipeline1').status}',\n  '@{activity('Execute Pipeline2').status}',\n  '@{if(equals(activity('Execute Pipeline1').status, 'Failed'), activity('Execute Pipeline1').Error, null)}'\n  '@{if(equals(activity('Execute Pipeline2').status, 'Failed'), activity('Execute Pipeline2').Error, null)}'\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "end_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "loop data",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get files data",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "multiple_transaction",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			},
			"status": {
				"type": "String"
			},
			"error": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FSS_DATALOAD_PL"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-08T19:05:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}